*{
    box-sizing: border-box;
  font-family: 'Oleo Script', cursive;
}
body{
	background: url(http://previews.123rf.com/images/kiyanochka/kiyanochka1208/kiyanochka120800041/14859956-illustration-of-seamless-pattern-with-russian-dolls-Stock-Vector.jpg) no-repeat center;
	background-size: cover;
	height: 620px;
  background-attachment: fixed;
}
.form-group label:hover
{
  color:#110c4e;
}
.sombra
{
  background-color:rgba(299,153,28,0.8);
  width:980px;
  height:130px;
  border: 3px solid ;
  text-align: center;
  
}
.lista
{
    color:white;
    font-size: 25px;
}
.t-letra
{
font-size:30px;  
}
.container{
	margin-top: 20px;
	padding-top: 10px;

	height: 600px;
	max-width: 100%;
}
.container h1 {
	color: white;
}
.container p {
	color: white;
}
.resultado .frase{
	font-size: 40px;
}
.form-group{
	color: white;
}
.resultado{
	color: white;
}
.resultado h4{
	color: white;
}
.row .btn{
	margin-top: 40px;
}

.result{
	background-color: rgba(64,26,89,0.7);
	padding-right: 12px;
  color: #faffb7;
}
.form-group label:hover
{
  color:#110c4e;
}
.enunciado{
  background: url(E:/img/enu1.png) no-repeat center;
	background-size: cover;
	height: 620px;
  background-attachment: fixed;
}
  
}
